body {
    color: #fff;
    background-color: #333;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    font-size: 62.5%;
}

body input.text {
    padding: .4em;
}

h1 {
    text-align: center;
}

#view {
}

#view tbody tr:hover {
    cursor: pointer;
}

#view table, #tabs table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
}

#view table td, #view table th, #tabs table td, #tabs table th {
    border: 1px solid #eee;
    padding: .6em 10px;
    text-align: left;
}

#tabs {
}

#info {
    min-height: 380px;
    padding: 1em;
}

#info .dbr-field-name, #info .dbr-field-value {
    display: block;
    float: left;
    width: 40%;
}

#info .dbr-field-name {
    text-align: right;
}

#info br {
    clear: left;
}

.dbr-form fieldset {
    border: 0;
}

.dbr-form input.text {
    width: 95%;
}

.dbr-form label, fieldset input {
    display: block;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}
